body {
  display: none;
  width: 100%;
  height: 100%;
}
#card {
  margin: 230px 50px 0 0;
  float: right;
  width: 457px;
  height: 272px;
  padding: 50px 17px 10px 17px;
  background: url("../images/legitimation.png");
  position: absolute;
  right: 40px;
}
p {
  margin: 0;
  padding: 0;
  position: absolute;
}
#firstname {
  top: 90px;
  left: 18px;
}
#lastname{
  top: 90px;
  left: 157px;
}
#nationality{
  top: 140px;
  left: 18px;
}
#sex{
  top: 140px;
  left: 174px;
}
#height{
  top: 190px;
  left: 18px;
}
#personnummer{
  top: 190px;
  left: 167px;
}
#middle-info {
  margin: -22px 0 0 135px !important;
}
#middle-info p:not(:first-child) {
  margin-top: 10px;
}
