body,html{
  width: 100%;
	height: 100%;
	overflow: hidden;
  font-size: 16px;
  color:#797b7f;
  font-family: "Roboto"
}

.marketplace-main-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
	height: 100%;
  display: none;
}

.marketplace-inner-wrapper{
  max-width: 65%;
  background: #2E3136;
  width: 75%;
  height: 70vh;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  display: block;
  align-items: stretch;
}

.marketplace-inner-main{
  display: flex;
  align-items: stretch;
  bottom: 0;
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
}

.marketplace-header h4{
  margin:0;
  padding:0;
  display: inline-block;
}

.marketplace-close{
  float: right;
  font-size: 22px;
  cursor: pointer;
  transition: .4s ease all;
}
.marketplace-close:hover{
  color:#8d0e0e;
}

.marketplace-header{
  background: #202225;
  width: calc(100% - 30px);
  padding:15px;
  z-index: 99;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.marketplace-content-right{
  background: #36393f;
  width: calc(80% - 30px);
  padding:15px;
  display: inline-block;
  float: right;
}

.marketplace-left-sidebar{
  width: calc(20% - 30px);
  bottom:0;
  background: #2f3136;
  padding:15px;
  display: inline-block;
  float: left;
}

.marketplace-menu{
  list-style: none;
  margin:0;
  padding:0;
  margin:-15px;
}

.marketplace-menu li,
.marketplace-menu li a{

}

.marketplace-menu li{
  padding:10px 15px;
  border-bottom:1px solid #36393f;
  transition: .3s ease all;
  cursor: pointer;

}

.marketplace-menu li:hover{
  background: #3d4147;
  border-bottom:1px solid #3d4147;
  box-shadow: 0 2px 2px rgba(0,0,0,0.16);
}

.marketplace-menu li:last-child{
  border-bottom:1px solid transparent;
}

.marketplace-listings{
  width: 100%;
  border:0;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
}

.marketplace-listings tr,
.marketplace-listings td{
  border:0;
}

.marketplace-listings tbody tr td:first-child{
  width: 80px;
}

.marketplace-listings tbody tr td:last-child{
  width: 80px;
}

.marketplace-listings tbody tr td{
  padding:10px 5px;
  background: #2a2c31;
  transition: .3s ease all;
}

.marketplace-listings thead tr{
  background: #25272b;
}

.marketplace-listings tbody tr:hover td{
  background: #3d4147;
  z-index: 999;
  box-shadow: 0 2px 2px rgba(0,0,0,0.16);
}

.marketplace-buy{
  padding:2px 18px;
  background: #7289da;
  color:#fff;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s ease all;
}
.marketplace-buy:hover{
  background: #4a64bc;
}
